<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form class="form-sigin" method="POST" action="<%=`/courses/${course._id}/update?_method=PUT`%>">
        <h1 class="form-signin-heading">コースの改訂</h1>
        <input type="text" name="title" id="inputTitle" class="form-control  cst-input" value="<%= course.title %>" placeholder="コース名" autofocus>
        <input type="text" name="discription" id="inputDiscription" class="form-control  cst-input" value="<%= course.discription %>" placeholder="説明" required>
        <input type="text" name="cost" id="inputCost" class="form-control  cst-input" value="<%= course.cost %>" placeholder="価格" required>
        <br />
        <button class="btn btn-md cst-btn btn-block" type="submit">更新</button>
      </form>
    </div>
  </div>
</div>