h1, h2, h3, h4, h5, p, .btn {
  font-family: 'Noto Sans JP', sans-serif;
}
/* font-family: 'Noto Serif JP', serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Pacifico', cursive; */


/* ///////////////////////////////////////////////////////////////////// */
/* Nav Bar */
#cst_navbar {
  background-color: rgb(223,157,73);
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
}

/* 現状、liタグに直接スタイル書いている */
/* navbarのliだけ文字色を変更したいができていない */
/* li {
  color: aliceblue;
} */

/* toggle bar */
.navbar-toggler {
  border: medium solid rgb(223,186,73);
}

/* toggle bar 三本線の変更 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(223,206,73)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ドロップダウンメニューの書体 */
.dropdown-item {
  font-size: 0.8rem;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Index Page */
.jumbotron-index-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url(../images/bread-2864703_1920.jpg) repeat center center;
  background-size: cover;
  border-radius: 0;
}

.jumbotron-courses-extend {
  position: relative;
  height:100vh;
  min-height: 300px;
  background: url(../images/bread-barley-field-1684052_1920.jpg) repeat center center;
  background-size: cover;
  border-radius: 0;
}

.jumbotron-container {
  position: relative;
  top: 100%;
  transform: translateY(-70%);
}

h1.index-head {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  line-height: 0.9;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px rgb(176, 58, 46);
}

p.index-lead {
  font-weight: bold;
  color: rgb(241,241,212);
  text-shadow: 2px 2px 1px rgb(176, 58, 46), -1px -1px 2px rgb(176, 58, 46);
}

/* .btn {
  color: rgb(241,241,212);
  font-weight: bold;
  font-size: 0.8rem;
  background-color: rgb(176, 58, 46);
  border: none;
} */

/* 通常のボタン色 */
.cst-btn,
.cst-btn.disabled, 
.cst-btn:disabled {
  font-weight: 900;
  font-size: 0.9rem;
  color: #fff;
  background-color: rgb(176, 58, 46);
  border-color: rgb(176, 58, 46);
}


/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.cst-btn:hover {
  color: #fff;
  background-color: rgb(231, 76, 60);
  border-color: rgb(231, 76, 60);
}

/* focusされた時の枠線の色 */
.cst-btn:focus, 
.cst-btn.focus,
.cst-btn:not(:disabled):not(.disabled):active:focus,
.cst-btn:not(:disabled):not(.disabled).active:focus,
.show > .cst-btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(250, 237, 149, 0.7);
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.cst-btn:not(:disabled):not(.disabled):active,
.cst-btn:not(:disabled):not(.disabled).active,
.show > .cst-btn.dropdown-toggle {
  color: #fff;
  background-color: rgb(120, 40, 31);
  border-color: rgb(120, 40, 31);
}

/* ///////////////////////////////////////////////////////////////////// */
/* Sign In */
.cst-signin {
  width: 100%;
  max-width: 420px;
  margin: 40px auto 0px;
  padding: 30px 20px;
  background: white;
  border: solid 1px rgb(250, 237, 149);
  border-radius: 0.7rem;
  filter: drop-shadow(1px 1px 7px rgba(223,157,73, 0.5));
}

.cst-input {
  margin-bottom: 1rem;
}

.cst-input:focus {
  border: none;
  background: rgb(255, 253, 248);
  box-shadow: 0 0 0 0.2rem rgba(250, 237, 149, 0.7);
}

.form-signin-heading {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

::placeholder {
  font-size: 0.8rem;
  font-weight: 500;
}
