<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form class="form-sigin" method="POST" action="/courses/create">
        <h1 class="form-signin-heading">新メニューの作成</h1>
        <input type="text" name="title" id="inputTitle" class="form-control  cst-input" placeholder="品名" autofocus>
        <input type="text" name="discription" id="inputDiscription" class="form-control  cst-input" placeholder="キャッチコピー" required>
        <input type="text" name="discription" id="inputDiscription" class="form-control  cst-input" placeholder="本文" required>
        <input type="text" name="discription" id="inputDiscription" class="form-control  cst-input" placeholder="手順" required>
        <!-- <input type="text" name="cost" id="inputCost" class="form-control  cst-input" placeholder="価格" required> -->
        <br />
        <button class="btn btn-md cst-btn btn-block" type="submit">作成</button>
      </form>
    </div>
  </div>
</div>