<form action="/contact_save" method="post">
  <label for="name">お名前</label>
  <input type="text" name="name" placeholder="大和太郎">
  <label for="email"">E-mail</label>
  <input type="text" name="email" placeholder="taro@yamato.com">
  <label for="content">お問い合わせ内容</label>
  <input type="text" name="content">
  <input type="submit" name="送信">
</form>
