<form action="/user_save" method="post">
  <label for="name">お名前</label>
  <input type="text" name="name" placeholder="大和太郎">
  <label for="email"">E-mail</label>
  <input type="text" name="email" placeholder="taro@yamato.com">
  <label for="c_code">ご希望のコース番号</label>
  <input type="text" name="c_code">
  <input type="submit" name="送信">
</form>
