<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form method="POST" action="/thanks">
        <h1 class="form-signin-heading">購読申込フォーム</h1>
        <!-- <label for="name">お名前</label> -->
        <input class="form-control cst-input" type="text" name="name" placeholder="お名前" autofocus>
        <!-- <label for="email"">E-mail</label> -->
        <input class="form-control cst-input" type="text" name="email" placeholder="Eメールアドレス" autofocus>
        <!-- <label for="zip_code">コース番号</label> -->
        <!-- <input class="form-control" type="text" name="zip_code" placeholder="4桁の数字" patter=\d\d\d\d　autofocus> -->
        <br>
        <button class="btn btn-md cst-btn btn-block" type="submit">送信</button>
      </form>
    </div>
  </div>
</div>