<form action="/thanks" method="post">
  <label for="name">お名前</label>
  <input type="text" name="name" placeholder="大和太郎">
  <label for="email"">E-mail</label>
  <input type="text" name="email" placeholder="taro@yamato.com">
  <label for="zip_code">郵便番号</label>
  <input type="text" name="zip_code"">
  <input type="submit" name="送信">
</form>