<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe App</title>
  <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/recipe_app.css">
</head>
<body>
  <%- include("partials/header")%>
  <%- body %>
</body>
</html>