<div class="center-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">お名前</th>
      <th scope="col">Email</th>
      <th scope="col">Zip Code</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(u => { %>
    <tr>
      <td><%= u.fullName %></td>
      <td><%= u.email %></td>
      <td><%= u.zip_code %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>