<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form class="form-sigin" method="POST" action="/users/login">
        <h1 class="form-signin-heading">ログイン</h1>
        <input type="email" name="email" id="inputEmail" class="form-control  cst-input" placeholder="Eメールアドレス" required>
        <input type="password" name="password" class="form-control  cst-input" placeholder="パスワード" id="inputPassword" required>
        <br />
        <button class="btn btn-md cst-btn btn-block" type="submit">ログイン</button>
      </form>
    </div>
  </div>
</div>