<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form class="form-sigin" method="POST" action="/users/create">
        <h1 class="form-signin-heading">新規入会 申込み</h1>
        <!-- <label for="inputLastName">氏</label> -->
        <input type="text" name="last" id="inputLastName" class="form-control  cst-input" placeholder="氏" autofocus>
        <!-- <label for="inputFirstName">名</label> -->
        <input type="text" name="first" id="inputFirstName" class="form-control  cst-input" placeholder="名"" autofocus>
        <!-- <label for="inputPassWord">パスワード</label> -->
        <input type="password" name="password" id="inputPassword" class="form-control  cst-input" placeholder="パスワード" required>
        <!-- <label for="inputEmail">Eメールアドレス</label> -->
        <input type="email" name="email" id="inputEmail" class="form-control  cst-input" placeholder="Eメールアドレス" required>
        <!-- <label for="inputZip_code">コース番号</label> -->
        <input type="text" name="zip_code" pattern="\d*" class="form-control  cst-input" placeholder="コース番号" id="inputZipCode" required>
        <br />
        <button class="btn btn-md cst-btn btn-block" type="submit">申込</button>
      </form>
    </div>
  </div>
</div>