<div class="container">
  <div class="row">
    <div class="col-10 cst-signin">
      <form class="form-sigin" method="POST" action="/subscribers/create">
        <h1 class="form-signin-heading">新規購読者フォーム</h1>
        <input type="text" name="name" id="inputLastName" class="form-control  cst-input" placeholder="氏名" autofocus>
        <input type="email" name="email" id="inputEmail" class="form-control  cst-input" placeholder="Eメールアドレス" required>
        <input type="text" name="zip_code" pattern="[0-9]{4}" class="form-control  cst-input" placeholder="コース番号" id="inputZipCode" required>
        <br />
        <button class="btn btn-md cst-btn btn-block" type="submit">作成</button>
      </form>
    </div>
  </div>
</div>